apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-yonuioxq
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-yonuioxq:0a3debbe05cd97e811bc966e8206178577d13948@sha256:790a7213b70fbbac8b9c2302900b4d38821e4f2166c3934c49e5afe138fbe7fd
        name: container-image  
